!!!5
%head
  %title Jesa Boogie &ndash; JavaScript Guitar Amp Simulation
  %script{ type: 'text/javascript', src: 'amp.js' }

%body
  :css
    * {
      border-radius: 5px
    }

    html {
      height: 100%
    }

    body {
      background: #866;
      height: 100%;
      font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
      text-transform: uppercase;
      clear:both;
    }

  %a{ href: 'http://itsahackbro.com' }
    %img{ src: 'http://ribbons.itsahackbro.com/itsjustahackbro/orange.png', style: 'position: fixed; right: 0; top: 0; z-index: 999;' }

  #jesa

